.grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin-top: 1rem;
}

.card {
  /* TODO: revisit this property */
  flex-basis: 45%;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #eaeaea;
  overflow: hidden;

  border-radius: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  border-left-style: solid;
  border-left-width: 8px;

  /* transition: color 0.15s ease, border-color 0.15s ease; */
  transition: transform 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  /* color: #0070f3;
  border-color: #0070f3; */
  transform: scale(1.03);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

.card p {
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
}

.card .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card .repInfo {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
