:root {
  --background-color: white;
  --text-color: #222;
  --hover-bg-color: rgba(0, 0, 0, 0.05);
  --input-bg-color: var(--background-color);
  --border-color: #eee;
}

:root.dark-mode {
  --background-color: #182837;
  --text-color: #d1d1d1;
  --hover-bg-color: #1f364b;
  --input-bg-color: var(--hover-bg-color);
  --border-color: #666;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.noscroll {
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration-color: rgb(55, 118, 236);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  /* text-decoration: none; */
  /* font-weight: 550; */
  overflow-wrap: anywhere;
  transition: text-decoration-color 0.2s;
}

a:hover {
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.dark-mode-toggle {
  position: fixed;
  top: 8px;
  right: 8px;
}

@media (max-width: 600px) {
  .dark-mode-toggle {
    position: absolute;
  }
}

.dark-mode-toggle button {
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.4em 0.5em;
}

.dark-mode-toggle button:hover {
  background-color: var(--hover-bg-color);
}
