:root {
  --background-color: white;
  --text-color: #222;
  --hover-bg-color: rgba(0, 0, 0, 0.05);
  --input-bg-color: var(--background-color);
  --border-color: #eee;
}

:root.dark-mode {
  --background-color: #182837;
  --text-color: #d1d1d1;
  --hover-bg-color: #1f364b;
  --input-bg-color: var(--hover-bg-color);
  --border-color: #666;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.dark-mode-toggle {
  position: fixed;
  top: 24px;
  right: 24px;
}

.dark-mode-toggle button {
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.dark-mode-toggle button:hover {
  background-color: var(--hover-bg-color);
}
